<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/images/rainy-day.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-container">
        {{>header}}

        <p>This site was created by Neha Patil. It uses data from mapbox.com and darksky.net!</p>
        <img class='about-img' src="/images/1.jpg">
    </div>

    {{>footer}}
</body>

</html>